Node-RED flow.txt
[{"id":"e279b35e.dda3f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ed44afac.8987a","type":"ui_tab","z":"","name":"ChatBOT","icon":"dashboard","disabled":false,"hidden":false},{"id":"d684d250.f7d7d","type":"ui_group","z":"","name":"Chat","tab":"95844c2f.68aee","order":1,"disp":true,"width":"6","collapse":false},{"id":"f3f7f914.e425a8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":2,"gy":6,"cx":6,"cy":6,"px":10,"py":10}}},{"id":"95844c2f.68aee","type":"ui_tab","z":"","name":"Query","icon":"dashboard","disabled":false,"hidden":false},{"id":"7fc46cac.ac38d4","type":"ui_group","z":"","name":"Customer Care ChatBOT","tab":"95844c2f.68aee","order":2,"disp":true,"width":"20","collapse":false},{"id":"f2f2649a.0d0d98","type":"debug","z":"e279b35e.dda3f","name":"","active":true,"console":"false","complete":"false","x":550,"y":100,"wires":[]},{"id":"3b8c9f07.3669b","type":"function","z":"e279b35e.dda3f","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["dfe59209.e7b9b"]]},{"id":"e230436f.6e202","type":"ui_form","z":"e279b35e.dda3f","name":"","label":"","group":"7fc46cac.ac38d4","order":1,"width":"0","height":"0","options":[{"label":"Enter text to test your assistant","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":180,"wires":[["3b8c9f07.3669b"]]},{"id":"dfe59209.e7b9b","type":"watson-conversation-v1","z":"e279b35e.dda3f","name":"","workspaceid":"924f0406-2866-4be7-91a3-bfa4e9a322c7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/2d0f4674-6e82-4b4d-ab93-496504d0a110","timeout":"","optout-learning":false,"x":380,"y":140,"wires":[["f2f2649a.0d0d98","1ce58337.09fb8d"]]},{"id":"1ce58337.09fb8d","type":"function","z":"e279b35e.dda3f","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.output.text[0].length <200)\n{\n    msg.payload = msg.payload.output.text[0];\n}\nelse{\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text = msg.payload.text +\"\\n\" + msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload = msg.payload.text;\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":180,"wires":[["6805bc6a.e73264"]]},{"id":"6805bc6a.e73264","type":"ui_text","z":"e279b35e.dda3f","group":"7fc46cac.ac38d4","order":2,"width":"20","height":"16","name":"","label":"ChatBOT:","format":"{{msg.payload}}","layout":"col-center","x":680,"y":240,"wires":[]}]